Makefile
SDL.qpg
aclocal.m4
autom4te.cache/
build-deps
build/
config.log
config.status
libtool
sdl-config
sdl.pc
test/Makefile
test/autom4te.cache/
test/checkkeys
test/config.log
test/config.status
test/graywin
test/loopwave
test/testalpha
test/testbitmap
test/testblitspeed
test/testcdrom
test/testcursor
test/testdyngl
test/testerror
test/testfile
test/testgamma
test/testgl
test/testhread
test/testiconv
test/testjoystick
test/testkeys
test/testloadso
test/testlock
test/testoverlay
test/testoverlay2
test/testpalette
test/testplatform
test/testsem
test/testsprite
test/testtimer
test/testver
test/testvidinfo
test/testwin
test/testwm
test/threadwin
test/torturethread

configure
include/SDL_config.h
test/configure
